    /*add-page-Preloader*/
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('../img/icon/lod.gif') no-repeat center;
    z-index: 9999;
}



/********** Template CSS **********/
:root {
    --primary: #FD2037 !important;
    --light: #F1F8FF;
    --dark: #0F172B;
}

body{
    background: #fff;
}

/*========== Button ============*/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary{
    color: #ffffff;
}
.btn-primary{
    background: #FD2037;
    border-color: #FD2037;
}
.text-primary{
    color: #FD2037 !important;
}
.bg-primary{
    background: #fd2037 !important;
}

/*============== Icon =============*/

.icon-img{
    width: 55px;
    height: 55px;
    transition: 0.5s;
}
.icon-img:hover{
    transform: scale(1.2);
}

/*============= section title ==============*/
.section-title{
    position: relative;
    display: inline-block;
}

.section-title::before{
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after{
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after{
    display: none;
}


@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}


/*============== Navbar Nav ===============*/
.navbar-nav .nav-link{
    margin-right: 18px;
    padding: 25px 0;
    color: #fff;
    font-size: 15px;
    outline: none;
}

nav .navbar-nav .nav-link{
    color: #fff !important;
    transition: .3s;
}

nav .navbar-nav .active{
    color: var(--primary) !important;
}

nav .navbar-nav .nav-link:hover{
    color: var(--primary) !important;
}

/*============ Header section ============*/
.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, 0.7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next{
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 3rem;
    height: 3rem;
}


@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*=========== Booking section ===========*/
.booking{
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}




/*============== Youtube Video ==============*/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*============= Service section ============*/
.service-item{
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: 0.5s;
}

.service-item:hover{
    background: var(--primary);
}

.service-item .service-icon{
    margin: 0 auto 10px auto;
    width: 230px;
    height: 230px;
    transition: 0.5s;
}

.service-item i,
.service-item h5,
.service-item p{
    transition: 0.5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p{
    color: #fff !important;
}


/*=========== Testimonial section ============*/
.testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/about-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel{
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item{
    padding: 30px;
}

.testimonial-carousel .owl-nav{
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
    transition: 0.5s;
}

.newsletter{
    position: relative;
    z-index: 1;
}
span,
.top-icon .me-3{
    color: #FD2037;
    transition: .4s;
}

.top-icon .me-3:hover{
    color: #FEA116;
}

/*============ About-html ============*/

.about{
    width: 100%;
    height: 30vh;
    background: url('../img/collage.jpg');
    background-size: cover;
    background-position: center;
}
.teacher{
    width: 100%;
    height: 30vh;
    background: url('../img/about-3.jpg');
    background-size: cover;
    background-position: center;
}
.rules{
    width: 100%;
    height: 30vh;
    background: url('../img/rules.jpg');
    background-size: cover;
    background-position: center;
}
.blogs{
    background: url('../img/blog-bg.jpg');
    background-size: cover;
    background-position: center;
}
.search-doner .search{
    background: url('../img/search.jpg');
    background-size: cover;
    background-position: center;
}
.become-doner .donor{
    background: url('../img/become-donor.jpg');
    background-size: cover;
    background-position: center;
}

.about .wrap,
.teacher .wrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .wrap h4{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}
.teacher .box-tech{
    width: 200px;
    margin-right: 60px;
    transition: .5s;
}
.teacher .box-tech:hover{
    background: #fff;
    border-radius: 8px;
}
.teacher .box-tech h2{
    color: #FD2037;
}
.teacher .box-tech p{
    font-weight: bold;
    letter-spacing: 1px;
}
.teacher .box-tech:hover p{
    color: #0F172B;
}
.gallery{
    width: 100%;
    height: auto;
}
.gallery .col-12 #img-gall{
    position: relative;
}
.gallery .col-12 img{
     width: 380px;
    height: 250px;
    border-radius: 25px;
    transition: .5s;
}
.gallery .col-12 i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #000;
    display: none;
}
.gallery .col-12 img:hover{
    opacity: .5;
    transform: scale(1.05); 
}
.gallery .col-12 a:hover i{
    display: inline !important;
}
.other a{
    display:   block;
    font-size: 18px;
    transition: .4s;
}
.other a:hover{
    margin-left: 7px;
}


    /*======== Rules part =========*/
.rules ol li{
    font-size: 17px;
}
.warning .card img{
    width: 100%;
    height: 260px;
    transition: .4s;
}
.warning .card img:hover{
    transform: scale(1.05);
}


/*================ Footer section ===================*/
.footer{
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #fff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-link{
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

/*before*/
.footer .btn.btn-link::before{
    position: relative;
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover{
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn-social:hover{
    color: var(--primary);
}

.footer .copyright{
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a{
    color: var(--light);
    transition: 0.4s;
}

.footer .copyright .mb-md-0 a:hover{
    color: var(--primary);
}

.footer .footer-menu a{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    transition: 0.4s;
}

.footer .footer-menu a:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .footer-menu a:hover{
    color: var(--primary);
}


/* Back to Top*/

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}



@media (max-width: 815px) {
    .problem-btn{
        padding: 15px 32px !important;
    }
    .teacher .box-tech{
        float: left;
        margin-right: 0;
    }

    /*-------- rules-html-part -------*/
    .rules #about h4{
        font-size: 18px;
    }
    .rules .tipes h1{
        font-size: 28px;
    }

    /*-------- about-html-part -------*/
    .about-page .video-part h1{
        font-size: 22px;
    }
    .about-page .video-part .btn-light{
        padding: 17px 49.5px !important;
    }

}

@media (max-width: 415px) {
    .problem-btn{
        display: inline-block;
        margin-left: 22%;
    }

    .mt-lg-0{
        padding: 16px 24.5px!important;
        display: inline-block;
        margin-top: 20px;
        margin-left: 22%;
    }

    /*-------- rules-html-part -------*/
    .rules #about h4{
        font-size: 16px;
        text-align: justify!important;
    }
    .rules #about h3{
        font-size: 17px;
    }
    .rules #about .section-title::after{
        display: none;
    }
    .rules .tipes h1{
        font-size: 20px;
    }
    .rules .tipes .btn-light{
        padding: 17px 49.5px !important;
    }

    /*-------- about-html-part -------*/
    .about-page #about h1{
        font-size: 22px;
    }

    /*-------- Contact-html-part -------*/
    .contact .address{
        margin-left: 0;
    }

}